<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}</h1>
  <h3 *ngIf="comments.length === 0">Brak komentarzy</h3>
  <h3 *ngIf="comments.length > 0" [ngStyle]="{'background-color': getCounterColor(comments)}">Licznik: {{ comments.length }}</h3>
  <ul>
    <li *ngFor="let comment of comments; let i=index; let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }">
      <h2>{{i+1}} {{ comment.name | uppercase }}</h2>
      <p [hidden]="comment.hide">{{ comment.comment }}</p>
      <button class="btn btn-primary" (click)="toggle(comment)">Wyswietl</button>
    </li>
  </ul>

  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#contentId" aria-expanded="false" aria-controls="contentId">
      Show
    </a>
  </p>
  <div class="collapse" id="contentId">
    
  </div>
</div>

